@model SurveyPage.Models.Survey

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <div>
        <h4>@Html.DisplayFor(model => model.SurveyName)</h4>
        <hr />
        <ul class="list-group">
            @foreach (var question in Model.Questions)
            {
                <li class="list-group-item">
                    @Html.DisplayFor(model => question.SurveyQuestion)
                </li>
            }
        </ul>
    </div>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
