@model SurveyPage.Models.Survey

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Survey</h4>
    <hr />
    <dl class="dl-horizontal">
        @foreach (var item in Model.Questions)
        {
            
        <dt>
            @Html.DisplayNameFor(model => item.SurveyQuestion)
        </dt>

        <dd>
            @Html.DisplayFor(model => item.SurveyQuestion)
        </dd>     
        }

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
